# FastAPI: The web framework for building APIs
fastapi[standard]

# Uvicorn: ASGI server for running FastAPI applications
uvicorn

# SQLAlchemy: ORM for database interactions
sqlalchemy

# Pydantic: Data validation and settings management
pydantic

# Passlib with bcrypt: Secure password hashing
passlib[bcrypt]

# python-jose with cryptography: JWT creation and verification
python-jose[cryptography]

# python-multipart: For handling form data (e.g., file uploads) in FastAPI
python-multipart

# PostgreSQL database adapter for Python (used if connecting to a PostgreSQL database)
psycopg2

# Pydantic settings management for environment variables.
pydantic-settings

# Alembic for database migrations
alembic